/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* table da sistemare con bootstrap? */
table {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #FAFAFA;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0A5269;
    color: white;
}

.highlight {
    background-color: #0A5269;
    color: white;
    display: inline; /* Ensure it only highlights the text */
}


.highlight2 {
    background-color: #e3ee54;
    color: rgb(0, 0, 0);
}

.highlight3 {
    background-color: white;
    color: #0A5269;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: inline;
}

/* Rimuove sottolineatura da hyperlink */
a {
    text-decoration: none;
}

.big-dot {
    font-size: 2em; /* Adjust the size as needed */
}

/* General styles */
.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
}

/* Dropdown Menu Styling */
.dropdown-container {
    margin-bottom: 20px; /* Space between dropdown and content below */
}

/* Flexbox Layout for Table and Chart */
.form-chart-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto new lines */
    gap: 20px; /* Space between the table and the chart */
}

.table-container {
    flex: 1;
    min-width: 300px; /* Minimum width for the table container */
}

/*for double table in wordz */
.table-container2 {
    display: flex; /* this should be for mobile adaptive */
    flex-wrap: wrap;
    gap: 100px; /* gap between tables */
    justify-content: center; /* Center the container horizontally */


}

.chart-container {
    flex: 1;
    max-width: 600px; /* Maximum width for the chart container */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .form-chart-container {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    .chart-container {
        max-width: 100%; /* Allow chart container to take full width on small screens */
    }
}

/* Index Box */
.box {
    display: block;
    border: 1px solid #ccc;
    padding-top: 0;
    padding-bottom: 15px;
    margin: 10px auto; /* Center the box */
    text-decoration: none;
    color: inherit;
    width: 400px; /* Set a fixed width */
}