<!--
#layout generale
-->
{% extends "layout.html" %}

{% block title %}
    Add expense
{% endblock %}

{% block main %}
    <div>
        <p>
            <h3> Insert an expense.</h3>
            <h6> Round numbers only.</h6><br>
        </p>

        <form action="/expense" method="post">
            <select class="form-control mx-auto w-auto mb-3" name="category">
                <option value="" disabled selected>Select a category</option>
                <option value="grocery">Grocery</option>
                <option value="restaurant">Restaurant</option>
                <option value="hobby">Hobby</option>
                <option value="children">Children</option>
                <option value="other">Other</option>
                <option value="fixed_cost">Fixed cost</option>
            </select>
            <input class="form-control mx-auto w-auto mb-3" name="description" placeholder="Descrizione" type="text">
            <input class="form-control mx-auto w-auto mb-3" name="amount" placeholder="Importo" type="number">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div>
        <p>
            <br><br><h6>Recently added:</h6>
        </p>
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                {% for row in user_last_expenses %}
                <tr>
                    <td>{{ row.category }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.amount }} €</td>
                    <td>{{ row.formatted_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
