<!--
#OPTIONAL: decidere come gestire. potrei avere una sorta di grande divisore (comodo soprattutto per mobile) che mi fa scegliere tra i 4 (tipo spicchi trivial)
-->

{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
<p>
    <h3>Hello, {{  username  }}.</h3><br><br><br>
    <h6>Here you can track your <a href="/todo" class="highlight">to-do</a></h6><br><br><br>
    <h6>and manage your <a href="/expense" class="highlight">expenses</a></h6>

</p>

{% endblock %}
