<!--
aggiungo errore se cerco di inserire un todo duplicato
-->

{% extends "layout.html" %}

{% block title %}
    Add to-do
{% endblock %}

{% block main %}
    <form action="/add_todo" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="todo" placeholder="To-do" type="text">
        </div>
        <!-- menu tendina prio -->
        <div class="dropdown-container">
            <select id="prio" name="prio">
                <option value="urgent">Urgent</option>
                <option value="backlog">Backlog</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Insert</button>
    </form>

    <p>
        <h6>Recently added:</h6>
    </p>
    <table>
        <tr>
            <th>To-do</th>
            <th>Priority</th>
        </tr>
        {% for row in todo_history %}
        <tr>
            <td>{{ row.item }}</td>
            <td>{{ row.category }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
