{% extends "layout.html" %}

{% block title %}
    Add to-do
{% endblock %}

{% block main %}

<p>
    <h3> Inserisci un to-do:</h3>
    <h6> Scegliendo tra "urgente" e "backlog"</h6><br>    
</p>

<form action="/todo" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="todo" placeholder="To-do" type="text">
    </div>
    <div class="mb-3 btn-group" role="group">
        <input type="radio" class="btn-check" name="prio" id="urgent" value="urgent" autocomplete="off">
        <label class="btn btn-outline-primary" for="urgent">Urgent</label>

        <input type="radio" class="btn-check" name="prio" id="backlog" value="backlog" autocomplete="off">
        <label class="btn btn-outline-primary" for="backlog">Backlog</label>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

    <p>
        <br><br></vr><h6>Recently added:</h6>
    </p>
    <table>
        <tr>
            <th>To-do</th>
            <th>Priority</th>
        </tr>
        {% for row in todo_history %}
        <tr>
            <td>{{ row.item }}</td>
            <td>{{ row.category }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
