<!--
#OPTIONAL: tab per vedere storico todo status=0
#OPTIONAL: gestione del passaggio da URGENT a BACKLOG sia manuale (lo sposta l'utente) che automatico (es dopo un po' di gg).

#VERYOPTIONAL: differenziare 'risolto' da 'cancellato'
#VERYOPTIONAL: analytics(tot to-do al gg, tot gg per un to-do, %completion rate, etc.)
-->

{% extends "layout.html" %}

{% block title %}
    Wordz
{% endblock %}

{% block main %}
    <!-- tabella1: urgent -->
    <div>
        <p><h6>Urgent:</h6></p>
        <table>
            <tr>
                <th>To-do</th>
                <th>Delaying for</th>
                <th>Remove</th>
            </tr>
            {% for row in user_todo_urgent %}
            <tr>
                <td>{{ row.item }}</td>
                <td>{{ row.delaying }} €</td>
                <td>
                    <form method="post">
                        <button type="submit" name="remove" value="{{ row.item }}">Done</button>
                    </form>    
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- tabella2: backlog -->
    <div>
        <p><h6>Urgent:</h6></p>
        <table>
            <tr>
                <th>To-do</th>
                <th>Delaying for</th>
                <th>Done</th>
                <th>Delete</th>
            </tr>
            {% for row in user_todo_backlog %}
            <tr>
                <td>{{ row.item }}</td>
                <td>{{ row.delaying }} €</td>
                <td>
                    <form method="post">
                        <button type="submit" name="remove" value="{{ row.item }}">Done</button>
                    </form>    
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
