<!--
#OPTIONAL: tab per vedere storico todo status=0
#OPTIONAL: gestione del passaggio da URGENT a BACKLOG sia manuale (lo sposta l'utente) che automatico (es dopo un po' di gg).

#VERYOPTIONAL: analytics(tot to-do al gg, tot gg per un to-do, %completion rate, etc.)
-->

{% extends "layout.html" %}

{% block title %}
    Wordz
{% endblock %}

{% block main %}

    <p>
        <h3>Wordz.</h3>
        <h6>You have {{ user_todo_urgent | length }} urgent and {{ user_todo_backlog | length }} backlog.</h6>    
        <h6>Current active to-do:</h6><br>
    </p>
    
    <div class="table-container2">
        <div>
            <!-- tabella1: urgent -->
            <p><h6>Urgent:</h6></p>
            <div style="overflow-x: auto;">
                <table>
                    <tr>
                        <th>To-do</th>
                        <th>Delaying for</th>
                        <th></th>
                    </tr>
                    {% for row in user_todo_urgent %}
                    <tr>
                        <td>{{ row.item }}</td>
                        <td>{{ row.delay }} days</td>
                        <td>
                            <form method="post">
                                <button type="submit" name="remove" value="{{ row.item }}">Remove</button>
                            </form>    
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!-- tabella2: backlog -->
        <div>
            <p><h6>Backlog:</h6></p>
            <div style="overflow-x: auto;">
                <table>
                    <tr>
                        <th>To-do</th>
                        <th>Delaying for</th>
                        <th></th>
                    </tr>
                    {% for row in user_todo_backlog %}
                    <tr>
                        <td>{{ row.item }}</td>
                        <td>{{ row.delay }} days</td>
                        <td>
                            <form method="post">
                                <button type="submit" name="remove" value="{{ row.item }}">Remove</button>
                            </form>    
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>    
        </div>
    </div>

{% endblock %}
